<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>BitMarias</title>
    <link href="../assets/style.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
<?xml version="1.0" encoding="iso-8859-1"?>
<!-- banner -->
<div class="banner">
    <div class="banner-dot">
        <% include partials/nav.ejs %>
    </div>
</div>
<div id="about">
    <div id="align-the-paragraph">
        <h3>Obrigada por entrar em contato!</h3>
        <p>Entraremos em contato com <%=data.email%></p>
    </div>
    <div class="clearfix"> </div>
</div>
<hr style="height:70px; border:none; background-color:#0a0a0a; margin-top: 0; margin-bottom: 0;" />
</body>
</html>
