<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>BitMarias</title>
    <link href="../assets/style.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
<?xml version="1.0" encoding="iso-8859-1"?>
<!-- banner -->
<div class="banner">
    <div class="banner-dot">
        <% include partials/nav.ejs %>
        <!-- banner-info -->
        <div class="banner-info">
            <div class="container">
                <div class="text-display">
                    <h2>Seja bem-vinda/o!</h2>
                    <h3>BitMarias</h3>
                </div>
            </div>
        </div>
        <!-- //banner-info -->
    </div>
</div>
<!-- //banner -->
<!-- about -->
<div id="about">
    <img src="images/bitmariassm.jpg" alt=" " />
    <div id="align-the-paragraph">
        <h3>Sobre nós</h3>
        <p>
            O BitMarias é um grupo de mulheres em cursos relacionados à computação na UFSM.
            Ele surgiu em julho de 2019 e conta com colaboração de alunas e professoras de
            diferentes centros da Universidade!
        </p>
        <p>
        O BitMarias busca ser um grupo para unir, motivar, ajudar e incentivar mulheres na computação. <br/>
            Nossos principais objetivos são: <br/>

        Promover diálogos para compreender mais sobre o interesse de mulheres na área e sobre a evasão daquelas que entram, para poder criar soluções práticas para o incentivo à presença feminina nos cursos de computação; <br/>
        Dar visibilidade a participação feminina em projetos de computação na UFSM;<br/>
        Ser um contato direto com as meninas dos cursos de computação para promover eventos e oportunidades;<br/>
        Incentivar a criação de projetos técnicos e de pesquisa dentro do grupo;<br/>
        Orientar novas ingressantes nos cursos;<br/>
        Apoiar e orientar sobre procedimentos que devem ser feitos em casos de assédio;<br/>
        Criar novas amizades!<br/>
        </p>
    </div>
    <div class="clearfix"> </div>
</div>
<!-- //about -->
<!-- subscribe -->
<div class="wthree-subscribe" id="contact">
    <div class="w3-agileits-testimonial subscribe-bg">
        <div class="container">
            <h3>Entre em contato conosco</h3>
            <form  method="POST" action="/">
                <div class="w3-agileits-subscribe-form">
                    <label for="msg">Informe seu email:</label><br/><br/>
                    <label>
                        <input class="col-md-12" type="text" placeholder="email" name="email" required="" value="<%= qs.person%>">
                    </label><br/><br/>
                    <label for="msg">Você pode nos mandar dúvidas ou sugestões abaixo:</label><br/><br/>
                    <textarea id="msg" cols="5" rows="5" name="msg" value="<%= qs.msg%>"></textarea><br/><br/>
                    <button class="btn1">Subscribe</button>
                </div>
            </form>
        </div>
    </div>
</div>
<hr style="height:70px; border:none; background-color:#0a0a0a; margin-top: 0; margin-bottom: 0;" />
<!-- //subscribe -->
</body>
</html>
