@import url('https://fonts.googleapis.com/css?family=IM+Fell+English+SC&display=swap');
@import url('https://fonts.googleapis.com/css?family=UnifrakturCook:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css?family=Iceland&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

html, body{
    font-size: 1.2em;
    /*font-family: 'IM Fell English SC', serif;*/
    /*font-family: 'UnifrakturCook', cursive;*/
    /*font-family: 'Press Start 2P', cursive;*/
    font-family: 'Iceland', cursive;
    /*font-family: 'Ubuntu', sans-serif;*/
    /*font-family: 'Open Sans', sans-serif;*/
    background: #ececec;
    margin: 0;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
/*-- //font --*/
/*-- Modal Content bot maria --*/
.invisivel:after{
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid rgba(255, 232, 10, 0.64);
    bottom: -10px;
    left: 40%;
}
.invisivel {
    border-radius: 15px;
    margin-bottom: 1em;
    z-index: 199;
    top: 350px;
    position: fixed;
    background-color: rgba(255, 232, 10, 0.64);
    font-size: 1em;
    text-align: center;
    padding: 10px 10px 10px 10px;
}
.fixo {
    z-index: 199;
    position: fixed;
    top: 400px;
}
.myBtn {
    position: static;
    color: #FFFFFF;
    font-size: .875em;
    padding: 1em 2em;
    text-align: center;
    text-decoration: none;
    background: #A52DC2;
    border: solid 2px #999999;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
/*-- //Modal Content bot maria --*/
/*-- close button --*/
.close {
    color: #aaaaaa;
    float: left;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/*-- //close button --*/
/*-- header --*/
ul {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 0.7em;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0A0A0A;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 14px;
    text-decoration: none;
}

li a:hover.color-one {
    background-color: #ebd209;
}
li a svg g path.color-one {
    stroke:none;
    fill-rule:nonzero;
    fill:#EBD209;
    fill-opacity:1;
}
li a:hover.color-two {
    background-color: rgba(165, 45, 194, 0.80);
}
li a:hover.color-three {
    background-color: #2025c2;
}
li a:hover.color-four {
    background-color: #C20213;
}

li {
    border-left: 4px solid #0a0a0a;
}

li:last-child {
    border-left: none;
}
li a:hover svg g path {
    fill:#ffffff;
}
/*-- //header --*/
/*-- banner --*/
.banner{
    background: url(../images/womans.jpg) no-repeat 0 0;
    background-size: cover;
}

/*-- //banner --*/
.navbar-default .navbar-nav li  a:hover:before,.navbar-default .navbar-nav li a.active:before{
    width: 100%;
}
/*-- banner-info --*/
.banner-info {
    padding: 9em 0;
}

.text-display h2{
    position:relative;
    font-weight: lighter;
    color: #ffffff;
    font-size: 1.8em;
    text-align: center;
    font-family: 'Franklin Gothic Demi', cursive;
}
/*-- //banner-info --*/

/*-- paragraph --*/
#about {
    padding: 50px 100px;
}

#about img {
    position:relative;
    float: right;
}

#align-the-paragraph {
    padding: 0 25px;
}

#align-the-paragraph h3 {
    font-size: 1.8em;
    color: #0a0a0a;
    font-family: 'Franklin Gothic Demi', cursive;
    margin: 0;
}

#align-the-paragraph p {
    background-color: #0b1f3a;
    margin: 2em 0 0;
    line-height: 2em;
    color: #9b9b9b;
    font-size: 1.1em;
}
#align-the-paragraph b {
    color: black;
}

div h3 {
    font-size: 1.8em;
    color: #9b9b9b;
    font-family: 'Franklin Gothic Demi', cursive;
    margin: 0;
}
/*--// paragraph --*/
/*-- suggestion --*/
.wthree-subscribe h3,.contact h3{
    font-size: 1.2em;
    color: #A52DC2;
    font-family: 'Franklin Gothic Demi', cursive;
    margin: 0;
}
.wthree-subscribe h3,.contact h3{
    text-align:center;
}
.welcome,.testimonial,.contact{
    padding:5em 0;
}
.subscribe-bg {
    padding: 2em 0!important;
}
.wthree-subscribe {
    background: url(../images/spacy_img.png) no-repeat 0 0;
    background-size:cover;
}
.wthree-subscribe h3{
    text-align: left;
    padding-left: 150px;
    font-size: 1.2em;
    color: #ffffff;
    font-family: 'Franklin Gothic Demi', cursive;
    margin: 0;
}
.subscribe-form {
    text-align: left;
    margin: 2em 0 0 0;
    padding-left: 150px;
}
.subscribe-form input[type="text"] {
    display: inline-block;
    background: #FFFFFF;
    border: solid 2px #FFFFFF;
    width: 45%;
    outline: none;
    padding: 1em;
    font-size: .875em;
    color: #999999;
}
.subscribe-form textarea {
    display: inline-block;
    background: #FFFFFF;
    border: solid 2px #FFFFFF;
    width: 45%;
    outline: none;
    padding: 1em;
    font-size: .875em;
    color: #999999;
}

 label {
    font-size: 1em;
     color: #ffffff;
    text-align: left;
}

button.btn1 {
    color: #FFFFFF;
    font-size: .875em;
    padding: 1em 2em;
    text-align: center;
    text-decoration: none;
    background: #A52DC2;
    border: solid 2px #999999;
}
button.btn1:hover{
    background:none;
    border: solid 2px #FFFFFF;
}
/*-- //suggestion --*/
/*-- join-us --*/
.form{
    border-radius: 5px;
    background-color: rgb(107, 101, 107);
    border: 2px solid black;
    padding: 25px 50px 75px 100px;
    text-align:left;
}

.form form label{
    color: black !important;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
/*// join-us */